OPENAI_API_KEY=<OPENAPI_KEY>
OPENAI_API_MODEL=gpt-4
OPENAI_API_EMBEDDING_MODEL=text-embedding-ada-002
QDRANT_COLLECTION=ees
QDRANT_HOST=localhost
QDRANT_PORT=6333
URL_API_DATA=http://localhost:8000/api/chat
URL_PUBLIC_SITE=http://localhost:3002
