[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "==1.19.0"
azure-keyvault-secrets = "==4.9.0"
beautifulsoup4 = "==4.12.2"
openai = "==0.28.1"
fastapi = "==0.115.6"
uvicorn = "==0.34.0"
asyncio = "==3.4.3"
pydantic-settings = "==2.7.1"
python-dotenv = "==1.0.0"
langchain = "==0.3.14"
requests = "==2.32.3"
qdrant-client = "==1.12.2"
settus = "==0.0.9"
httpx = "==0.28.1"

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==4.1.0"
pytest-azurepipelines = "==1.0.5"
isort = "==5.13.2"
black = "==23.12.1"
flake8 = "==6.1.0"
pre-commit = "==3.8.0"

[requires]
python_version = "3.11"
