[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastapi = "*"
uvicorn = "*"
starlette = "*"
asyncio = "*"
pydantic = "*"
python-dotenv = "*"
langchain = "==0.0.203"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
