[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "==1.16.1"
azure-keyvault-secrets = "==4.7.0"
beautifulsoup4 = "==4.12.2"
openai = "==0.28.1"
fastapi = "==0.104.1"
uvicorn = "==0.24.0.post1"
asyncio = "==3.4.3"
pydantic-settings = "==2.1.0"
python-dotenv = "==1.0.0"
langchain = "==0.0.329"
requests = "==2.31.0"
qdrant-client = "==1.6.9"
settus = "==0.0.9"
httpx = "==0.26.0"

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==4.1.0"
pytest-azurepipelines = "==1.0.5"
isort = "==5.12.0"
black = "==23.11.0"
flake8 = "==6.1.0"
pre-commit = "==3.5.0"

[requires]
python_version = "3.11"
