django>=4.0.0, <4.1.0
djangorestframework
pyyaml
requests
django-cors-headers
pinecone-client
openai
langchain == 0.0.136
elasticsearch
PyPdf2
PyMuPDF
psycopg2
python-dotenv
tiktoken
beautifulsoup4


