.chat {
  height: 65vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 2px solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.icon { 
  flex-shrink: 0;
  height: 26px;
  width: 26px;
}

.robot {
  margin-top: -2px;
}

.message {
  background: #f3f2f1;
  display: flex;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.usermessage {
  background: #ffffff;
}

.usermessagewaiting {
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
}

.markdownanswer {
  padding-left: 1rem; 
}

.markdownanswer p:first-of-type {
  margin-top: 0;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #b13a3a;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}
