.chat {
  height: 65vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 2px solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.apimessage {
  background: #f3f2f1;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  animation: fadein 0.5s;
}

.usermessage {
  background: #ffffff;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  color: #0b0c0c;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #0b0c0c;
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #b13a3a;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}
